body {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
    color: blue;
    margin: 20px;
}
section:before {
    content:'массив: [ ';
}
section:after {
    content:'  ]';
}

button, input {
    padding: 5px 10px;
    font-size: 18px;
}
input {
  display: "block;"
  min-width: 300px;
}
.num {
    display: block;
    
    width: 150px; 
    font-size: 14px;
    padding: 5px;
    margin: 5px 20px 10px 0;   
}
button {
 
}